/* MEDIA QUERY TAB & MOBILE */
@media screen and (max-width: 798px) { /* Media query untuk Tab */
    /* Responsive font size untuk mobile */
    .hero-content > p, .testimoni > p, .card-section > p, .menu-section > p, .reserv-content > p {
        max-width: 95vw;
        /* font-size: 1rem; */
        padding-left: 8px;
        padding-right: 8px;
    }

    nav {
        /* display: flex; */
        /* justify-content: space-between; */
        padding: 2px 10px;
        height: 60px;
        background-color: #978676;
        flex-wrap: wrap;
    }
    
    nav ul {
        flex-direction: column;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    nav ul.hidden {
        display: none; /* Hide the menu by default */
    }
    
    .hamburger-icon {
        display: flex; /* Show hamburger icon on mobile */
        align-items: center;
        color: white;
        cursor: pointer;
        font-size: 25px;
        /* background-color: tomato; */
    }
    
    .btn-login {
        display: none;
        cursor: none;
    }
    
    .logo h2 {
        font-size: 16px;
        padding-left: 10px;
        /* background-color: tomato; */
    }

    .logo img {
        display: none; /* Hide logo image on mobile */
    }

    .nav ul li a{
        cursor: none;
    }

    nav ul li a:hover {
        border-bottom: none;
    }

    /* List bar */
    nav ul.show {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        position: fixed;
        height: 100vh;
        width: 220px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 60px;
        left: 0;
        opacity: 1;
        background-color: #57575779;
        z-index: 100;
        margin-top: 0;
        padding: 20px 0;
        gap: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.08);
        transform: translateX(0);
}

    nav ul.show li {
        width: 100%;
    }

    nav ul.show li a {
        padding-left: 24px;
        width: 100%;
        display: block;
        box-sizing: border-box;
    }

}

@media screen and (max-width: 480px) { /* Media query untuk Mobile */
    .card-testi {
        max-width: 1400px;
    }

    .card-content2 {
        padding: 1rem;
        width: 100%;
        min-height: 250px;
    }
}