*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: #e8e8e8;
    /* background-color: #978676; */

    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

main {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hero-content > p, .testimoni > p, .card-section > p, .menu-section > p{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
    word-break: break-word;
    /* font-size: 1.1rem; */
}

/* Header & Nav */
.main-container {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
    background-color: #978676;
    backdrop-filter: blur(10px);
}

header, nav {
    position: relative;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: auto;
    height: 76px;
    z-index: 9999;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h2 {
    color: white;
    font-family: 'Montserrat', sans-serif, Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    font-size: 20px;
    font-weight: 600;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
  display: inline-block;
  transition: all ease-in-out .1s;
}

nav ul li a:hover {
    /* border-bottom: #706262 2px solid; */
  color: #d4cdcd;
  transform: translateY(1px);
}

/* Navbar - Button */

.btn-login .login-btn {
  /* padding: 10px 30px; */
  font-weight: bold;
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  color: #512F2F;
}

.login-btn {
    text-decoration: none;
    color: #512F2F;
}

.btn-login {
    background-color: #e8e8e8;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-login:hover {
    transform: scale(0.95);
    
}
/* Login Icon */
.btn-login i {
    color: #5a3838;
    font-size: 18px;
}

/* Hamburger Icon (PC View)*/

.hamburger-icon {
    display: none; /* Hide by default */
    cursor: pointer;
    position: relative;
    z-index: 9999;
}

/* Section Hero */

.hero-section {
    position: relative;
    background-image: url(../img/main-bg.jpg);
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* overflow: hidden; */
    /* opacity: 0.5; */
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
 }

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

    position: relative;
    z-index: 2; /* biar muncul di atas overlay */
    text-align: center;
    color: white;
    /* padding-top: 20vh; ganggu ini woi*/
}

.hero-content h1 {
    color: white;
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 64px;
}

.hero-content p {
    color: white;
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Button Hero */
.button {
    margin-top: 27px;
    display: flex; /* ini penting banget */
    justify-content: center; /* opsional, biar tombolnya ketengah */
    align-items: center;
    gap: 7px;
    /* padding: 10px 40px; */
}

.menu > a {
    text-decoration: none;
    color: #ffffff;

}

.menu:hover {
    background-color: #cfb7a1;
    text-decoration: none;
}

.button > .menu {
    padding: 10px 30px;
    /* font-weight: bold; */
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #E59652A8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.button > .menu:hover {
    background-color: #9c7452a8;
    text-decoration: none;
    transform: translateY(1px);
}

.reserv > a {
    text-decoration: none;
    color: #ffffff;
}

.button > .reserv {
    padding: 10px 30px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    background-color: #EFEFEFA8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.button > .reserv:hover {
    transform: translateY(1px);
}

/* Section Card */

.card-section {
    padding-block: 6rem;
    background-color: #e8e8e8;
    text-align: center;
}

.card-section > h2 {
    font-family: 'Playfair Display', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #512F2F;
    margin-bottom: 10px;
}

.card-section > p {
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #474747;
    margin-bottom: 30px;
}

.card-content { /* keseluruhan cardnya */
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    padding: 2rem;
    margin: auto;
    border-radius: 10px;
    padding-top: 3rem;
}

.card { /* Isi cardnya */
    text-align: left;
    background-color: #FEFEF6;
    border-radius: 8px;
    padding: 2rem 2rem;
    width: calc(25% - 2rem);
    min-width: 250px;
    box-sizing: border-box;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
}

.card > i {
    background-color: #FDFDE4;
    font-size: 30px;
    color: #EABD42;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;

}

.card > h3 {
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #512F2F;
    margin-bottom: 5px;
    margin-top: 15px;
}

.card > p {
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #474747;
    margin-bottom: 10px;
}


/* Reservasi Section */
.reserv-section {
  padding-block: 6rem;
  background-color: #978676;
}

.reserv-content {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 0 auto; /* biar center, jangan pake margin-left manual */
  padding-inline: 1rem;
  flex-wrap: wrap;
}

/* Teks di kiri */
.hero-text {
  flex: 1 1 500px;
}

.hero-text h1 {
  font-family: 'Playfair Display', sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #FFF7EF;
  margin-bottom: 10px;
}

.hero-text p {
  font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #FFF3EA;
  margin-bottom: 15px;
}

.hero-buttons {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
  text-align: center !important;
}

.btn-primary {
  align-items: center;
  gap: 0.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: #5b4a3e;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 0.95rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  background-color: #e9e9e9;
}

.btn-secondary {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 0.95rem;
  transition: all 0.3s ease-in-out;
}

.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Gambar di kanan */
.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 400px;
  text-align: center;
}

.hero-image img {
  display: block;
  margin: 0 auto;
  width: 70%;
  max-width: 600px;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}


/* Section Testimoni */

.testimoni {
    padding-block: 6rem;
    background-color: #e8e8e8;
    text-align: center;
}

.testimoni > h2 {
    font-family: 'Playfair Display', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #512F2F;
    margin-bottom: 10px;
}

.testimoni > p {
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #474747;
    /* margin-bottom: 30px; */
}

.card-testi { /* keseluruhan cardnya */
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    padding: 2rem;
    margin: auto;
    border-radius: 10px;
    padding-top: 3rem;
}

.card-content2 { /* Isi cardnya */
    text-align: left;
    background-color: #FEFEF6;
    border-radius: 8px;
    padding: 2rem 2rem;
    width: calc(40% - 0.8rem);
    /* min-height: 240px; */
    min-width: 250px;
    box-sizing: border-box;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
}

.card-content2 > i {
    background-color: #f3e6db;
    font-size: 30px;
    color: #686868;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;

}

.card-content2 > p {
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #474747;
    margin-bottom: 5px;
    margin-top: 15px;
}

.card-content2 > h4 {
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #512F2F;
    margin-bottom: 5px;
}